body{
    background: repeating-linear-gradient(
            to right,
            #f0f0f0,
            #f0f0f0 2px,
            #ffffff 1px,
            #ffffff 4px
    );
    display: grid;
    place-items: center;  /* 同时水平和垂直居中 */
    height: 100vh;
}
main{
    position: relative;//给result提供定位点
    display: flex;
    justify-content: center;
}
#register-in{
    position: absolute;
    text-align: center;
    bottom: 1vh;
}